{% extends 'flatpages/default.html' %} 

{% block title %}
News
{% endblock title %}
{% load censor %}
{% block content %}
 <h3>Название публикации</h3>
    <p>{{  post.postTitle|censor }}</p>

<h3>Статья:</h3>
<p>{{ post.postText|censor }}</p>
<h3>Дата публикации:</h3>
<p>{{ post.pubData }}</p>
    <p>Автор: <b>{{ post.PostAuthor }}</b></p>



{% if request.user.is_authenticated %}
        <p>
            Вы можете подписаться на новости категории:
            {% for category in post.postCategory.all %}
                {% if not category in user_category %}
                    <a href="{% url 'subscribe' category.pk %}"><br>{{ category.categoryname }}</a>
                {% else %}
                    <br>{{ category.categoryname }}
                {% endif %}
            {% endfor %}

          <h6>Ваши текущие подписки (если вы хотите отписаться, то просто нажмите на название подписки):</h6>
             {% for category in post.postCategory.all %}
             {% if category in user_category %}
            <a href="{% url 'subscribe' category.pk %}"><br>{{ category.categoryname }}</a>
            {% endif %}
            {% endfor %}
</p>
{% endif %}
{% endblock content %}